.content,
.content2,
.content3,
.content4 {
    align-items: center;
    justify-content: center;
    width: 90%;
    display: flex;
}

.card,
.card2,
.card3,
.card4 {
    background: linear-gradient(90deg, rgba(150, 150, 150, 0.25), rgba(133, 132, 132, 0.2));
    transform-style: preserve-3d;
    min-height: 52vh;
    width: 15rem;
    box-shadow: 3px 20px 30px rgba(164, 244, 249, 0.2), 0px 0px 50px rgba(224, 255, 255, 0.2);
    border-radius: 25px;
    padding: 0rem 2rem;
}

.coins,
.coins2,
.coins3,
.coins4 {
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coins img,
.coins2 img,
.coins3 img,
.coins4 img {
    width: 8.5rem;
    z-index: 2;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease-out;
}

.circle,
.circle2,
.circle3,
.circle4 {
    height: 8.5rem;
    width: 14rem;
    background-image: url(PicsArt_01-29-01.55.58.png);
    background-size: 300px 48px;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
}

.info,
.info2,
.info3,
.info4 {
    width: 245px;
}

.info h1,
.info2 h1,
.info3 h1,
.info4 h1 {
    line-height: 1.5rem;
    padding: 0rem 5rem;
    font-size: 18px;
    transition: all 0.75s ease-out;
    justify-content: center;
    text-align: center;
}

.info h3,
.info2 h3,
.info3 h3,
.info4 h3 {
    font-size: 13px;
    padding: 1.3rem 0.5rem;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
    transition: all 0.75s ease-out;
}

.sizes,
.sizes2,
.sizes3,
.sizes4 {

    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}

.sizes button,
.sizes2 button,
.sizes3 button,
.sizes4 button {
    width: 45%;
    font-size: 13px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 550;
    font-family: 'Roboto';
}

.purchase,
.purchase2,
.purchase3,
.purchase4 {
    margin-top: 1.3rem;
    transition: all 0.75s ease-out;
}

.purchase button,
.purchase2 button,
.purchase3 button,
.purchase4 button {
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
    background: none;
    border: none;
    padding: 13px;
    font-family: 'Roboto';
}

body {
    height: 100%;
    perspective: 1100px;
    font-family: 'Roboto';
}

.menu-wrap .menu {
    height: 190%;
}


.wrap {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    height: auto;
}

@media screen and (max-width:991px) {
    .wrap {
        margin: auto;
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }
}

.freecontent {
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 90%;
    display: flex;
}

.freecard {
    background: linear-gradient(90deg, rgba(150, 150, 150, 0.25), rgba(133, 132, 132, 0.2));
    transform-style: preserve-3d;
    height: 48vh;
    width: 75rem;
    box-shadow: 3px 20px 30px rgba(164, 244, 249, 0.2), 0px 0px 50px rgba(224, 255, 255, 0.2);
    border-radius: 25px;
    padding: 0rem 2rem;
}

.freecoins {
    height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.freecoins img {
    width: 8rem;
    z-index: 2;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease-out;
}

.freecircle {
    justify-content: center;
    height: 8.5rem;
    width: 75rem;
    background-image: url(PicsArt_01-29-01.55.58.png);
    background-size: 300px 48px;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
}

.freeinfo {
    width: 75rem;
}

.freeinfo h1 {
    line-height: 1.5rem;
    margin-top: 30px;
    padding: 0rem 5rem;
    font-size: 20px;
    transition: all 0.75s ease-out;
    justify-content: center;
    text-align: center;
}

.freeinfo h3 {
    font-size: 14px;
    margin-top: 20px;
    padding: 1.3rem 2rem;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
    transition: all 0.75s ease-out;
}

.freepurchase,
#btnLarge {
    margin-top: 1.3rem;
    transition: all 0.75s ease-out;
}

.freepurchase button,
#btnLarge {
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
    background: none;
    border: none;
    padding: 13px;
    font-family: 'Roboto';
}

.freecoins .i1 {
    width: 11.5rem;
}

.freecoins .i2 {
    width: 14rem;
}

.freecoins .i3 {
    width: 9rem;
}

@media screen and (max-width:991px) {
    .card {
        min-height: 100px;
    }

    .coins {
        min-height: 190px;
    }

    .info {
        height: 320px;
    }
}

@media screen and (max-width:991px) {
    .card2 {
        min-height: 100px;
    }

    .coins2 {
        min-height: 190px;
    }

    .info2 {
        height: 320px;
    }
}

@media screen and (max-width:991px) {
    .card3 {
        min-height: 100px;
        margin-left: 50px;
    }

    .coins3 {
        min-height: 190px;
    }

    .info3 {
        height: 320px;
    }
}

@media screen and (max-width:991px) {
    .card4 {
        min-height: 100px;
    }

    .coins4 {
        min-height: 190px;
    }

    .info4 {
        height: 320px;
    }
}

@media screen and (max-width:991px) {
    .freecontent {
        width: 70%;
    }

    .freecard {
        padding-right: 48px;
        padding-bottom: 5px;
        margin-right: 55px;
        height: 33vh;
        width: 45rem;
    }    
    .freecoins{
        height: 16vh;
    }
    .freecoins img {
        width: 5rem;
    }

    .freeinfo h1 {
        margin: 0;
        font-size: 15px;
    }

    .freeinfo h3 {
        padding-top: 10px;
        margin: 0;
        font-size: 11px;
    }

    .freecoins .i1 {
        width: 7rem;
    }

    .freecoins .i2 {
        width: 10rem;
    }

    .freecoins .i3 {
        width: 6rem;
    }

    .freecircle {
        height: 7rem;
        width: 41rem;
    }

    .iconbadge1 {
        width: 50px;
        height: 20px;
        padding-top: 2px;
        font-size: 13.5px;
        left: 105px;
        top: 110px;
    }

    .iconbadge2 {
        width: 50px;
        height: 20px;
        padding-top: 2px;
        font-size: 13.5px;
        left: 230px;
        top: 110px;
    }

    .iconbadge3 {
        height: 20px;
        padding-top: 2px;
        font-size: 13.5px;
        left: 415px;
        top: 110px;
    }

    .iconbadge4 {
        height: 20px;
        padding-top: 2px;
        font-size: 13.5px;
        right: 122px;
        top: 110px;
    }

    .iconbadge5 {
        height: 20px;
        padding-top: 2px;
        font-size: 13.5px;
        right: 28px;
        top: 110px;
    }

    .freeinfo {
        margin-right: 20px;
        width: 40rem;
    }

    #btnLarge {
        margin-top: 0;
    }
}
